.LP3-footer-section {
    padding: 3.4rem 6rem 2.4rem;
    position: relative;
    z-index: 10;

    .LP3-footer {
        & {

            flex-direction: column;
            display: flex;
            gap: 7rem;
            max-width: 108.75rem;
            margin: 0 auto;
        }

        .text-container {
            & {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .left span,
            .right span {
                cursor: pointer;
                color: #928C97;
                font-size: 1.1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem;
                // text-transform: uppercase;
                font-family: 'Helvetica Neue Light';
            }

            .left,
            .right {
                display: flex;
                gap: 2.4rem;
            }
        }

        .watermark-container {
            & {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            span {
                color: #928C97;
                font-size: 1.1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem;
                // text-transform: uppercase;
                font-family: 'Helvetica Neue Light';
            }
        }
    }
}